# ignore latex files
auto/
*.aux
*.idx
*.blg
*.bbl
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.gz
*.fls
*.fdb_latexmk
*.pdf
*.vo
*.glob
*.d
ltximg/
paper/
# ignore code files
target/
_build/
*#
*.native
*key*
PbReplica*
PbftReplica*
pbft_*
Api.md
