[submodule "Velisarios"]
	path = Velisarios
	url = https://github.com/vrahli/Velisarios.git
[submodule "raft/coq-record-update"]
	path = raft/coq-record-update
	url = https://github.com/tchajed/coq-record-update.git
