test*
foo*
bar*
output*
.cm
bin
*.grm.*
*.lex.*
mlton-control.sml
Acceptor*
Paxos*
InternalError*
internal_error*
alldefs*
mlmon.out
esharp
LeaderElection*
*LeaderRing*
MutualExclusion*
*simple-consensus*
no-repeat-requests.esh
nuprlprint
*paxos*
Ping*
conf_*
ping_pong_mem.esh
ping_ping_mem.esh
forward.eml
robust-sc.eml
sc.esh
2pc*
tmp
*one-half*
MemTest.esh
profile*
server.sml
sources
empty_lib
*.tes
FILES.sml
mlton-dependencies
eventml_ocaml*
program-*
